---
http_interactions:
- request:
    method: post
    uri: https://api-us2.pusher.com/apps/575361/events?auth_key=35987e52c6a36f8d0305&auth_signature=f0265dbae3a9723fa85d5ed535327a8df7fbc7b112ab58ef3cde04dae6c8de3b&auth_timestamp=1534281643&auth_version=1.0&body_md5=b4b5ded4ddaf8a3ea34e27cc1ceb0afd
    body:
      encoding: UTF-8
      string: '{"name":"notify_changes","channels":["project-board-10"],"data":"{\"message\":\"project
        updated\"}"}'
    headers:
      X-Pusher-Library:
      - pusher-http-ruby 1.3.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Aug 2018 21:20:43 GMT
recorded_with: VCR 3.0.3
