---
http_interactions:
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/406/hooks
    body:
      encoding: UTF-8
      string: '{"id":406,"url":"http://yourdomain.com/gitlab/projects/events","merge_request_events":true}'
    headers:
      Content-Type:
      - application/json
      Private-Token:
      - correcttoken
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      etag:
      - W/"0ba912164023a296b8f93b7cbfb6e6da"
    body:
      encoding: UTF-8
      string: '{"id":12,"url":"http://yourdomain.com/gitlab/projects/events","created_at":"2019-02-20T17:18:26.349Z","push_events":true,"tag_push_events":false,"merge_requests_events":false,"repository_update_events":false,"enable_ssl_verification":true,"project_id":406,"issues_events":false,"confidential_issues_events":false,"note_events":false,"confidential_note_events":null,"pipeline_events":false,"wiki_page_events":false,"job_events":false,"push_events_branch_filter":null}'
  recorded_at: Wed, 20 Feb 2019 17:22:24 GMT
recorded_with: VCR 4.0.0
