{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": "usage"
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ]
}

