{
  "env": { "jquery": true },
  "extends": ["plugin:backbone/recommended", "prettier"],
  "plugins": ["react", "backbone", "prettier"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "eqeqeq": 1,
    "backbone/initialize-on-top": 0,
    "backbone/events-on-top": 0,
    "backbone/no-silent": 0,
    "strict": 0,
    "prettier/prettier": "error"
  }
}
