config/database.yml
config/cloudinary.yml
.bundle
db/*.sqlite3
*.log
log/
tmp/
log/
videos/
screenshots/
.rvmrc
.ruby-version
.sass-cache/
*.DS_Store
config/deploy.rb
*.swp
.env
.env.test
*.dump
dump.rdb
public/test_assets/
public/javascripts/*
public/javascripts-test/*
public/packs/*
public/packs-test/*
/node_modules
/public/webpack
js_coverage/
coverage
package-lock.json
