version: '2.4'

services:
  app: &app
    build:
      context: .
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    environment:
      MAIN_HOST: "localhost:3000"
      DB_USERNAME: 'postgres'
      DB_PASSWORD: 'postgres'
      DB_HOST: 'postgres'
      REDISCLOUD_URL: 'redis://redis:6379'
      VIRTUAL_HOST: 'cm42-central.localhost'
      VIRTUAL_PORT: 3000
      MEMCACHIER_SERVERS: memcached:11211
    depends_on:
      - postgres
      - redis
    ports:
      - 3000
    volumes:
      - .:/var/app
      - bundle_cache:/bundle
    command: echo "off by default"

  web:
    <<: *app
    ports:
      - "3000:3000"
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"

  worker:
    <<: *app
    command: sidekiq

  vite:
    <<: *app
    ports:
      - "3036:3036"
    command: sh -c "bundle binstubs bundler --force && ruby ./bin/vite dev"

  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  postgres:
    image: postgres:14.2
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    expose:
      - '5432'

  redis:
    image: redis:6.2
    expose:
      - "6379"
    volumes:
      - redis:/data

  adminer:
    image: adminer:4.8.1
    environment:
      - VIRTUAL_HOST=adminer.cm42-central.localhost

  memcached:
    image: memcached

volumes:
  bundle_cache:
  db:
  node_modules:
  redis:
