version: '2.4'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  postgres:
    image: postgres:14.2
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    expose:
      - '5432'

  redis:
    image: redis:6.2
    expose:
      - "6379"
    volumes:
      - redis:/data

  web:
    build: .
    environment:
      WEBPACK_HOST: "0.0.0.0"
      WEBPACK_MANIFEST_HOST: "vite"
      WEBPACK_MANIFEST_PORT: "3036"
      WEBPACK_PORT: "3036"
      MAIN_HOST: "localhost:3000"
      DB_USERNAME: 'postgres'
      DB_PASSWORD: 'postgres'
      DB_HOST: 'postgres'
      REDISCLOUD_URL: 'redis://redis:6379'
      VIRTUAL_HOST: 'cm42-central.localhost'
      VIRTUAL_PORT: 3000
      MEMCACHIER_SERVERS: memcached:11211
    depends_on:
      - postgres
      - redis
    ports:
      - 3000
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"

  worker:
    build: .
    environment:
      DB_USERNAME: 'postgres'
      DB_PASSWORD: 'postgres'
      DB_HOST: 'postgres'
      REDISCLOUD_URL: 'redis://redis:6379/0'
      MEMCACHIER_SERVERS: memcached:11211
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app
    command: sidekiq

  # webpack:
  #   build: .
  #   ports:
  #     - "3808:3808"
  #   volumes:
  #     - .:/app
  #     - ./node_modules:/app/node_modules
  #   command: ruby ./bin/webpack-dev-server

  vite:
    build: .
    ports:
      - "3036:3036"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    command: sh -c "bundle binstubs bundler --force && ruby ./bin/vite dev"

  adminer:
    image: adminer:4.8.1
    environment:
      - VIRTUAL_HOST=adminer.cm42-central.localhost

  memcached:
    image: memcached

volumes:
  db:
  redis:
  node_modules:
