---
http_interactions:
- request:
    method: post
    uri: https://api-us2.pusher.com/apps/575361/events?auth_key=35987e52c6a36f8d0305&auth_signature=c3ba17e42ff17c62dfc354107e3b2f0056c7bb0284d0a7cfc51b40c2bcf67aa5&auth_timestamp=1534281642&auth_version=1.0&body_md5=221b86255e00b4b0db9a9e2ec359a624
    body:
      encoding: UTF-8
      string: '{"name":"notify_changes","channels":["project-board-9"],"data":"{\"message\":\"project
        updated\"}"}'
    headers:
      X-Pusher-Library:
      - pusher-http-ruby 1.3.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Aug 2018 21:20:42 GMT
recorded_with: VCR 3.0.3
