---
http_interactions:
- request:
    method: post
    uri: https://api-us2.pusher.com/apps/575361/events?auth_key=35987e52c6a36f8d0305&auth_signature=8edacc405e2bce18d98a95ee1d6612abb1dfea8f823a81abde60f6a6b103d9b0&auth_timestamp=1534282126&auth_version=1.0&body_md5=6d30b946f478e626be9f94512fa61fc3
    body:
      encoding: UTF-8
      string: '{"name":"notify_changes","channels":["project-board-35"],"data":"{\"message\":\"project
        updated\"}"}'
    headers:
      X-Pusher-Library:
      - pusher-http-ruby 1.3.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Aug 2018 21:28:47 GMT
recorded_with: VCR 3.0.3
