<% content_for :title_bar do %>
  <%= link_to t('back'), tag_groups_path, class: "btn btn-primary btn-sm navbar-btn" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-5 col-sm-offset-2">
    <div class="page-header">
      <h4 class="page-header-title darkgrey-2">
        <%= t('tag_group.new tag_group') %>
      </h4>
    </div>
  </div>

  <div class="col-xs-12 col-sm-5 col-sm-offset-2">
    <div class="panel card">
      <div class="panel-body">
        <%= render 'form', remote: false, tag_group: @tag_group %>
      </div>
    </div>
  </div>
</div>
