document.getElementById('project_tag_group_id').insertAdjacentHTML("beforeend", "<option value=<%= @tag_group.id %>><%= @tag_group.name %></option>");
document.querySelector('#tag-group-modal form').reset();
document.getElementById('tag-group-modal').close();
