
.Column{
  background-color: $darkgrey-11;
  flex-grow: 1;
  height: 100%;
  color: $white;
  margin-left: 1px;
  margin-right: 1px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darkgrey-12;
    border: 1px solid $black;
    border-radius: 2px 2px 0 0;
    padding: 4px 4px 4px 10px;
    color: $white;
    font-size: 12px;
  }

  &__name {
    color: $white;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__btn-close {
    outline: 0;
    background: transparent;
    border-width: 0;
    padding: 4px 11px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    &:hover {
        background-color: $column-btn-close-hover;
      }
    &:active {
        background-color: $column-btn-close-active;
      }
  }
}
