.History {
  position: relative;

  &:before {
    content: "";
    width: 3px;
    background: $orange;
    position: absolute;
    left: 8px;
    top: 1%;
    border-radius: 60%;
    transition: ease-in-out .2s;
    z-index: 1;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: historyTimeLineAnimation;
  }
}

.HistoryItem {
  background-color: $lightgrey-11;
  border-bottom: 1px solid $lightgrey-13;
  border-top: 1px solid $white;
  min-height: 37px;
  padding: 7px 8px;
  font-size: 11px;
  padding-left: 20px;
  position: relative;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    background: $black;
    z-index: 2;
    position: absolute;
    border-radius: 100%;
    top: 9px;
    left: 4px;
  }
}

.HistoryHeader {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 14px;
  }

  &__date {
    font-size: 10px;
    font-weight: bold;
  }
}

.HistoryChange {
  max-width: 30vw;
  background: $white;
  border-radius: 6px;
  padding: 5px 0 5px 5px;
  display: flex;
  flex-direction: column;
  margin: 0.5em 2em 0.5em 1em;
  overflow: auto;

  &__action {
    font-weight: bold;
  }

  &__changes {
    display: flex;
    font-style: italic;
  }
}
