.ProjectBoard {
  height: 100%;
  display: flex;
  overflow: inherit;
  padding-top: 2px;

  &__loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black-transparent;

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: $white;
      text-align: center;

      &__spinner {
        display: block;
        font-size: 80px;
      }

      &__text {
        display: block;
        text-transform: uppercase;
      }
    }
  }
}
