.full-heigth {
    height:100%;
}
.project-board {
  height: 100%;
  display: flex;
  overflow: hidden;
  
  &__column{
    background-color: $darkgrey-11;
    min-width: 20%;
    flex-basis: 20%;
    height: 100%;
    color: white;
    margin-left:1px;
  }

}
