.full-heigth {
    height:100%;
}

.markdown-wrapper {
  background: $white;
  border-left: 4px solid $lightgrey-17;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  color: $aluminium-6;

  &__text-right {
    text-align: right;
    color: $darkgrey-8;
    font-size: 10px;
    font-style: italic;
  }
}

.popover-title {
  color: $darkgrey-8;
}

.popover {
  &__content {
    padding: 5px;
    word-wrap: break-word;

    &__title {
      padding: 0 3px;
      margin: 10px 0 5px;
      font-size: 13px;
      font-weight: bold;
    }

    &__subtitle {
      color: $darkgrey-8;
      font-size: 0.85em;
      padding: 0 2px;

      .text-right {
        margin-left: 20px;
        float: right;
        vertical-align: top;
      }
    }
  }
}

.Notifications {
  position: absolute;
  right: 0;
  margin: 10px;

  &__Message {
    margin: 10px;
    width: 300px;
  }
}

.Message {
  padding: 4px;
  border-radius: 8px;
  color: $message-default-color;
  border: 1px solid $message-default-border-color;
  background-color: $message-default-background-color;

  &--error {
    color: $message-error-color;
    border: 1px solid $message-error-border-color;
    background-color: $message-error-background-color;
  }

  &--success {
    color: $message-success-color;
    border: 1px solid $message-success-border-color;
    background-color: $message-success-background-color;
  }

  &__content {
    font-size: 14px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0 2px 2px;

    &__button {
      border-radius: 10px;
      padding: 0;
      border: none;
      background-color: inherit;
      color: inherit;
      outline: none;
    }

    &__button:hover {
      color: $black;
    }
  }
}
