.Sprint {
  &__header {
    padding: 5px 10px;
    font-size: 11px;
    color: $lightgrey-12;
    display: flex;
    justify-content: space-between;
    background-color: $darkgrey-7;
    border-top: 1px solid $darkgrey-8;
    border-bottom: 1px solid $darkgrey-9;
  }

  &__icon {
    margin-left: 8px;
    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: -webkit-transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &--expanded {
      transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
    }
  }

  &__body {
    display: block;
    &--is-collapsed {
      display: none;
    }
  }
}
