.Sprint {
  &__header {
    padding: 5px 10px;
    font-size: 11px;
    color: $lightgrey-12;
    background-color: $darkgrey-7;
    border-top: 1px solid $darkgrey-8;
    border-bottom: 1px solid $darkgrey-9;
  }

  &__points {
    float: right;
  }

  &__body {
    display: block;
    &--is-collapsed {
      display: none;
    }
  }
}
