.Story {
  display: flex;
  padding: 7px 8px;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #ffffff;
  min-height: 37px;
  color: black;
  justify-content: space-between;
  cursor: move;

  &__state-action{
    float: right;
    margin-left: .2em;
  }
  &__story-icons{
    float: left;
  }
  &__story-title{
    font-style: italic;
    margin-left: 65px;
    word-wrap: break-word;
  }
  &__estimate {
    left: 2px;
    padding: 2px 3px;
    line-height: 1;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-weight: bold;
    color: #407aa5;
  }
}
