<ul class="sidebar-nav">
  <li class="toggle sidebar-item">
    <a href="#sidebar-toggle" id="sidebar-toggle" class="sidebar-link">
      <i class="mi md-18 sidebar-icon">menu</i>
    </a>
  </li>

  <li class="sidebar-item">
    <li class="sidebar-item">
      <a href="#" class="sidebar-link hide_done">
        <i class="mi md-18 sidebar-icon">done</i> Done</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link hide_in_progress">
        <i class="mi md-18 sidebar-icon">inbox</i> Current Sprint</a>
    </li>
    <!--
    <li class="sidebar-item">
      <a href="#" class="sidebar-link hide_backlog">
        <i class="mi md-18 sidebar-icon">list</i> Backlog</a>
    </li>
    -->
    <li class="sidebar-item">
      <a href="#" class="sidebar-link hide_chilly_bin">
        <i class="mi md-18 sidebar-icon">ac_unit</i> Chilly Bin</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link hide_search_results">
        <i class="mi md-18 sidebar-icon">search</i> Search Results</a>
    </li>
  </li>

  <!--
  <li class="divider"></li>

  <li class="toggle sidebar-item">
    <a href="#" id="story-flow-toggle" class="sidebar-link <%= inverse_story_flow %>">
      <i class="mi md-18 sidebar-icon">view_column</i> Story Flow
    </a>
  </li>
  -->
</ul>
