base: &base
  adapter: mysql2
  username: root
  password: <%= ENV['DB_PASSWORD'] %>

development:
  <<: *base
  database: fulcrum_development

test:
  <<: *base
  database: fulcrum_test

production:
  <<: *base
  database: fulcrum_production
