base: &base
  adapter: trilogy
  username: root
  socket: /var/run/mysqld/mysqld.sock
  charset: utf8mb4
  collation: utf8mb4_unicode_ci

development:
  <<: *base
  database: fulcrum_development

test:
  <<: *base
  database: fulcrum_test

production:
  <<: *base
  database: fulcrum_production
