---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/403/repository/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Private-Token:
      - 'correcttoken'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      etag:
      - W/"255b2f707e4c5405201d2ca20771a0a8"
      link:
      - <https://gitlab42.com/api/v4/projects/403/repository/branches?id=403&page=1&per_page=20>;
        rel="first", <https://gitlab42.com/api/v4/projects/403/repository/branches?id=403&page=1&per_page=20>;
        rel="last"
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"feature/add-domain-to-sources","commit":{"id":"108ef1e6d7582cbe7032d8cfa147838d23e4eaf7","short_id":"108ef1e6","title":"chore:
        Add /coverage dir to .gitignore","created_at":"2019-01-11T11:36:20.000-05:00","parent_ids":null,"message":"chore:
        Add /coverage dir to .gitignore","author_name":"Wender Freese","author_email":"wender.jean@codeminer42.com","authored_date":"2019-01-11T11:36:20.000-05:00","committer_name":"Wender
        Freese","committer_email":"wender.jean@codeminer42.com","committed_date":"2019-01-11T11:36:20.000-05:00"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":false},{"name":"master","commit":{"id":"519534edc12397c162fcf41c9bd6d137be40b6d4","short_id":"519534ed","title":"Merge
        branch ''chore/add-active-storage-support'' into ''master''","created_at":"2019-01-11T07:28:05.000-05:00","parent_ids":null,"message":"Merge
        branch ''chore/add-active-storage-support'' into ''master''","author_name":"Wender
        Freese","author_email":"wender.jean@codeminer42.com","authored_date":"2019-01-11T07:28:05.000-05:00","committer_name":"Wender
        Freese","committer_email":"wender.jean@codeminer42.com","committed_date":"2019-01-11T07:28:05.000-05:00"},"merged":false,"protected":true,"developers_can_push":false,"developers_can_merge":true,"can_push":false,"default":true}]'
  recorded_at: Fri, 11 Jan 2019 16:53:38 GMT
recorded_with: VCR 4.0.0
