---
http_interactions:
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/406/hooks
    body:
      encoding: UTF-8
      string: '{"id":406,"url":"http://yourdomain.com/gitlab/projects/events","merge_request_events":true}'
    headers:
      Content-Type:
      - application/json
      Private-Token:
      - incorrecttoken
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"401 Unauthorized"}'
  recorded_at: Wed, 20 Feb 2019 17:22:23 GMT
recorded_with: VCR 4.0.0
