---
http_interactions:
- request:
    method: post
    uri: https://api-us2.pusher.com/apps/575361/events?auth_key=35987e52c6a36f8d0305&auth_signature=0a5c67fe60f121bba048b32a2740838b758bb302e42a946649943a9a77b24f96&auth_timestamp=1534281639&auth_version=1.0&body_md5=d0809ce435ef6b4eff84b8317aade29e
    body:
      encoding: UTF-8
      string: '{"name":"notify_changes","channels":["project-board-1"],"data":"{\"message\":\"project
        updated\"}"}'
    headers:
      X-Pusher-Library:
      - pusher-http-ruby 1.3.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 14 Aug 2018 21:20:40 GMT
recorded_with: VCR 3.0.3
