<% var points = locals.points %>
<% var done = locals.done %>
<% var remaining = locals.remaining %>

Done: <%= done %> / Remaining: <%= remaining %>
<span class="points">Points: <%= points %></span>
