<table class="stories" width="100%">
  <tbody>
    <tr>
      <% if (current_flow == default_flow) { %>
        <td data-column-view="done"></td>
        <td data-column-view="in_progress" data-connect="#backlog,#chilly_bin"></td>
        <td data-column-view="backlog" data-connect="#chilly_bin,#in_progress"></td>
        <td data-column-view="chilly_bin" data-connect="#backlog,#in_progress"></td>
      <% } else { %>
        <td data-column-view="chilly_bin" data-connect="#backlog,#in_progress"></td>
        <td data-column-view="backlog" data-connect="#chilly_bin,#in_progress"></td>
        <td data-column-view="in_progress" data-connect="#backlog,#chilly_bin"></td>
        <td data-column-view="done"></td>
      <% } %>
      <td style="display: none;" data-column-view="epic" data-hideable="false"></td>
      <td style="display: none;" data-history-view></td>
      <td style="display: none;" data-column-view="search_results" data-connect="#chilly_bin,#in_progress,#backlog"></td>
    </tr>
  </tbody>
</table>
