.swatch {
  padding: 5px;
  background: $white;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba($black, .1);
  display: inline-block;
  cursor: pointer;
}

.color-box {
  width: 36px;
  height: 14px;
  border-radius: 2px;

  &-popover {
    position: absolute;
    z-index: 2;
  }

  &-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
