/* Settings */
.settings-page {
  background: $lightgrey-7;
  height: 100%;
  padding: 0 30px;
  overflow-y: auto;
}

/* Sidebar */
.settings-sidebar-item {
  @extend .sidebar-item;
  text-indent: 0;

  .sidebar-link {
    padding-left: 1.2em;
    &.active {
      color: $sidebar-settings-fg-selected;
    }
  }
}
