.tag-groups {
  margin: 20px 0;

  .color_container {
    padding: 2px;
    background-color: $white;
    border-radius: 1px;
    box-shadow: rgba($black, 0.0980392) 0 0 0 1px;
    display: inline-block;

    .color {
      width: 36px;
      height: 14px;
      border-radius: 2px;
    }
  }

  .danger {
    color: $red;
  }
}

.tag-group-select {
  display: flex;

  .add_button {
    flex: 1 5%;
  }
}

.card-tag {
  padding: 0 5px;
  font-size: 9px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;

  &-aligned {
    vertical-align: super;
  }
}

.project-tag {
  padding: 15px 10px 0 0 !important;
}
