$white:         #ffffff;
$black:         #000000;
$red:           #ff0000;

$darkgrey:      #6a7176;
$darkgrey-2:    #444444;
$darkgrey-3:    #3f4c5c;
$darkgrey-4:    #5f6769;
$darkgrey-5:    #555555;
$darkgrey-6:    #777777;
$darkgrey-7:    #676e7a;
$darkgrey-8:    #787f8c;
$darkgrey-9:    #535965;
$darkgrey-10:   #1f2021;
$darkgrey-11:   #484f57;
$darkgrey-12:   #2C2D2F;

$lightgrey:     #e5e5e5;
$lightgrey-2:   #e9e9e9;
$lightgrey-3:   #d4d4d4;
$lightgrey-4:   #dadada;
$lightgrey-5:   #cedee3;
$lightgrey-7:   #f6f6f6;
$lightgrey-8:   #efefef;
$lightgrey-9:   #cccccc;
$lightgrey-10:  #f0f0f0;
$lightgrey-11:  #f4f4f4;
$lightgrey-12:  #f5f5f5;
$lightgrey-13:  #dddddd;
$lightgrey-14:  #e6e6e6;
$lightgrey-15:  #dfe1e2;
$lightgrey-16:  #aaaaaa;
$lightgrey-17:  #d3d3d3;
$lightgrey-18:  #b1b1b1;
$lightgrey-19:  #d1d1d1;

$blue:          #2075F3;
$blue-2:        #1976D2;
$blue-3:        #306494;
$blue-4:        #407aa5;
$blue-5:        #5982a7;

$link-primary:  #337ab7;
$link-hover:    #23527c;

$titlebar-text: #5e6469;

$darkred:       #c32323;

$orange:        #FF5722;

$lightyellow-1: #F3F3D1;
$lightyellow-2: #DBDBB0;

// Tango icon theme pallette
// http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines

$butter-1:      #fce94f;
$butter-2:      #fcf8e3;
$chameleon-1:   #8ae234;
$chameleon-2:   #73d216;
$chameleon-3:   #4e9a06;
$sky-blue-3:    #204a87;
$scarlet-red-2: #cc0000;
$aluminium-3:   #babdb6;
$aluminium-4:   #888a85;
$aluminium-6:   #2e3436;

/* Sidebar */
$sidebar-size:           200px;
$sidebar-size-collapsed: 50px;

$sidebar-bg-default:            #1f2021;
$sidebar-bg-selected:           darken($sidebar-bg-default, 3);
$sidebar-bg-hover:              darken($sidebar-bg-default, 5);
$sidebar-fg-default:            #636363;
$sidebar-fg-selected:           #bbb;
$sidebar-fg-hover:              #fff;
$sidebar-settings-fg:           $sidebar-fg-selected;
$sidebar-settings-fg-selected:  #fff;

/* Column */
$column-btn-close-hover:        rgba(0, 0, 0, 0.3);
$column-btn-close-active:       rgba(0, 0, 0, 0.6);

/* Story */
$story-background-color:        #f4f4f4;
$story-border-bottom-color:     #dddddd;
$story-border-top-color:        #ffffff;
$story-hover-background-color:  #e6e6e6;
$story-label-color:             #337ab7;
$story-labels-color:            #204a87;
$story-btn-start-color:         #333;
$story-btn-start-border-color:  #ccc;
$story-btn-start-hover-border-color: #adadad;
$story-btn-start-hover-background-color: #e6e6e6;

/* Estimated */
$estimated-background-color:    rgba(255, 255, 255, 0.4);
$estimated-border-color:        rgba(0, 0, 0, 0.15);

/* Estimate */
$estimate-background-color:     #407aa5;
