.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 300px;
  max-width: 500px;
  overflow: auto;
  display: block;
  z-index: 999999;
}
.tribute-container ul {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(#000, 0.5) 0px 1px 3px;
  font-size: 0.85em;
}
.tribute-container li {
  padding: 5px 30px 5px 10px;
  cursor: pointer;
  color: #4f4f4f;
}
.tribute-container li b {
  color: #303030;
}
.tribute-container li.highlight {
  background: #efefef;
}
.tribute-container li span {
  font-weight: bold;
}
.tribute-container li.no-match {
  cursor: default;
}
.tribute-container .menu-highlighted {
  font-weight: bold;
}
